*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  position: relative;
  background: #f6f6f6;
  max-width: 1500px; }
  @media screen and (min-width: 1300px) {
    body {
      margin: 0 auto; } }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  color: #000; }

h2 {
  font-weight: bold;
  font-size: 2rem; }

h3 {
  font-size: 1.8rem;
  font-weight: bold; }

p {
  font-size: 1.6rem; }

.btn {
  display: inline-block;
  padding: 1.6rem 2.2rem;
  min-width: 19rem;
  margin: 0 auto;
  border-radius: 9999px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out; }
  .btn:hover {
    background: linear-gradient(to top left, #a16be0, #ff93e1);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }

.card {
  position: relative;
  width: 90vw;
  height: calc(0.7 * 90vw);
  margin: 2rem auto;
  border-radius: 15px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  .card img {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0; }
  .card__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    padding: 1.5rem;
    color: #000; }
    .card__bottom__txt {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .card__bottom .fa-heart {
      font-size: 2.5rem; }
  .card__new {
    width: 8rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: #99e2d0;
    color: #007a5c;
    text-align: center;
    border-radius: 0.2rem;
    line-height: 3rem;
    font-size: 1.4rem; }
  @media screen and (min-width: 768px) {
    .card {
      max-width: 50rem;
      max-height: 35rem;
      width: 45%;
      height: 31.5vw; } }
  @media screen and (min-width: 992px) {
    .card {
      width: 27%;
      height: 18.9vw;
      min-width: 28rem;
      min-height: 19.6rem;
      margin: 1rem; } }
  @media screen and (min-width: 1200px) {
    .card {
      width: 23%;
      height: 16.1vw; } }

.fa-heart + .fas {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.4s ease-in-out; }
.fa-heart:hover {
  opacity: 1; }
.fa-heart + .far:hover {
  opacity: 0; }

.spin-wrapper {
  background: #f6f6f6;
  opacity: 1;
  animation: disappear-load 2.5s ease-out forwards; }

.header,
.location,
section,
footer {
  opacity: 0;
  animation: anim-load 2.5s ease-out both;
  z-index: 15; }

@keyframes anim-load {
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappear-load {
  0%,
  99% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.spinner {
  position: absolute;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%; }
  .spinner p {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Shrikhand", cursive;
    font-size: 2.5rem;
    font-weight: normal; }
  .spinner:before, .spinner:after {
    content: "";
    position: absolute;
    border-radius: 50%; }
  .spinner:before {
    border-top: 5px solid #ff79da;
    top: -1.5rem;
    left: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
    animation: spin 1.5s 0.6s linear infinite; }
  .spinner:after {
    border-top: 5px solid #99e2d0;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    animation: spin 1.5s 0s linear infinite; }

.spinner2 {
  position: absolute;
  height: 230px;
  width: 230px;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 50%; }
  .spinner2:before, .spinner2:after {
    content: "";
    position: absolute;
    border-radius: 50%; }
  .spinner2:before {
    border-top: 5px solid black;
    top: -1.5rem;
    left: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
    animation: spin 1.5s 0.9s linear infinite; }
  .spinner2:after {
    border-top: 5px solid #9356dc;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    animation: spin 1.5s 0.3s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.header {
  height: 7rem;
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  .header__logo {
    display: inline-block;
    font-family: "Shrikhand", cursive;
    font-size: 3rem;
    font-weight: normal;
    line-height: 7rem; }
  .header a {
    position: absolute;
    left: 2rem;
    top: 2rem;
    translate: -50%, -50%;
    font-size: 3rem;
    color: #000; }
  .header .fas {
    color: #353535; }

.footer {
  padding: 2rem;
  background-color: #353535;
  color: #fff; }
  .footer__logo {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem; }
  .footer h2 {
    padding: 1rem 0;
    font-weight: normal; }
  .footer li {
    font-size: 1.6rem;
    padding: .5rem 0;
    list-style: none; }
    .footer li a {
      color: #fff; }
  @media screen and (min-width: 768px) {
    .footer {
      padding: 2rem 5rem; } }

section {
  padding: 4rem 2rem; }
  @media screen and (min-width: 768px) {
    section {
      padding: 4rem; } }

.location {
  line-height: 5rem;
  background: #eaeaea;
  text-align: center;
  color: #353535; }
  .location span {
    padding-right: 1rem; }
  @media screen and (min-width: 768px) {
    .location {
      width: 60rem;
      margin: 0 auto;
      border-radius: 9999px;
      position: relative;
      top: 2rem;
      text-align: left;
      padding-left: 3rem; } }

.section-reserve {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .section-reserve h2 {
    font-size: 2.2rem;
    padding-bottom: 1.5rem; }
  .section-reserve p {
    padding-bottom: 2.5rem; }

.section-fonctionnement {
  background: #fff; }
  .section-fonctionnement h2 {
    margin-bottom: 3rem; }
  .section-fonctionnement__container__label {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background: #f6f6f6;
    border-radius: 20px;
    line-height: 7rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
    .section-fonctionnement__container__label__num {
      display: inline-block;
      width: 2.4rem;
      line-height: 2.5rem;
      background: #9356dc;
      border-radius: 9999px;
      color: #fff;
      text-align: center;
      position: relative;
      left: -1.2rem; }
    .section-fonctionnement__container__label .fas {
      font-size: 2rem;
      margin-right: 2rem;
      color: #7e7e7e; }
    .section-fonctionnement__container__label:hover {
      background: #f2eafb; }
      .section-fonctionnement__container__label:hover > .fas {
        color: #9356dc; }
    @media screen and (min-width: 768px) {
      .section-fonctionnement__container__label {
        width: 30rem;
        margin-right: 2rem; } }
  @media screen and (min-width: 768px) {
    .section-fonctionnement__container {
      display: flex;
      flex-wrap: wrap; } }
  @media screen and (min-width: 768px) {
    .section-fonctionnement {
      margin: 0 2rem;
      border-radius: 1.5rem; } }

.section-restaurants .container .card:nth-child(1) img {
  object-position: 50% 90%; }
.section-restaurants .container .card:nth-child(2) img {
  object-position: 50% 60%; }
.section-restaurants .container .card:nth-child(3) img {
  object-position: 50% 90%; }
.section-restaurants .container .card:nth-child(4) img {
  object-position: 50% 95%; }
@media screen and (min-width: 768px) {
  .section-restaurants .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0; } }

.img-top img {
  width: 100%;
  max-height: 50rem;
  object-fit: cover; }

main {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  position: relative;
  top: -3rem;
  padding: 0 2rem;
  margin-bottom: 4rem; }
  main h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 0;
    font-family: "Shrikhand", cursive;
    font-size: 2.5rem;
    font-weight: normal; }
    main h2 .heart {
      margin: 0 1rem 0 auto; }

.article-menu__container h3 {
  text-transform: uppercase;
  font-weight: 300; }
  .article-menu__container h3::after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.3rem;
    background: #99e2d0;
    position: relative;
    top: 1rem;
    margin-bottom: 2.5rem; }
.article-menu__container .container {
  margin-bottom: 4rem; }
@media screen and (min-width: 768px) {
  .article-menu__container {
    display: flex;
    justify-content: space-between; } }
@media screen and (min-width: 768px) {
  .article-menu {
    width: 30%; } }

.dish {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  margin: 2rem 0;
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }
  .dish__card {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
    transition: all 0.8s ease-in-out; }
    .dish__card__name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90%;
      font-weight: bold; }
      .dish__card__name__desc {
        font-weight: 300;
        padding-top: 1rem; }
      .dish__card__name p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    .dish__card__price {
      font-weight: bold; }
  .dish__check {
    display: flex;
    justify-content: center;
    width: 0rem;
    border-radius: 0 1.5rem 1.5rem 0;
    background: #99e2d0;
    color: #fff;
    text-align: center;
    transition: all 0.8s ease-in-out; }
    .dish__check .fas {
      font-size: 3rem;
      line-height: 8rem;
      transform: rotate(0deg);
      opacity: 0; }

.dish:hover > .dish__check {
  width: 25%; }
  .dish:hover > .dish__check > .fas {
    animation: check 0.8s ease-in-out forwards; }
.dish:hover > .dish__card {
  width: 75%; }

@keyframes check {
  0% {
    transform: rotate(0deg); }
  10%,
  100% {
    opacity: 1; }
  100% {
    transform: rotate(360deg); } }
.load {
  animation: elem-apparition 0.8s both; }
  .load--1 {
    animation-delay: 0.4s; }
  .load--2 {
    animation-delay: 0.8s; }
  .load--3 {
    animation-delay: 1.2s; }
  .load--4 {
    animation-delay: 1.6s; }
  .load--5 {
    animation-delay: 2s; }
  .load--6 {
    animation-delay: 2.4s; }
  .load--7 {
    animation-delay: 2.8s; }
  .load--8 {
    animation-delay: 3.2s; }
  .load--9 {
    animation-delay: 3.6s; }
  .load--10 {
    animation-delay: 4s; }
  .load--11 {
    animation-delay: 4.4s; }
  .load--12 {
    animation-delay: 4.8s; }
  .load--13 {
    animation-delay: 5.2s; }
  .load--14 {
    animation-delay: 5.6s; }
  .load--15 {
    animation-delay: 6s; }

@keyframes elem-apparition {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
