.btn{
    display: inline-block;
    padding: 1.6rem 2.2rem;
    min-width: 19rem;
    margin: 0 auto;
    border-radius: 9999px;    
    background: linear-gradient(to top left, $color-primary, $color-secondary);    
    color: $color-white;
    font-size: 2rem;
    text-align: center;
    @include shadow-box();
    transition: all 0.4s ease-in-out;
    &:hover{
        @include lighten-btn;  
        @include shadow-box(2*$shadow-size); 
    }
} 