*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  position: relative;
  background: $color-bg;
  max-width: 1500px;
  @media screen and (min-width: 1300px) {
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}
