body{
    font-family: 'Roboto', sans-serif;
    color: $color-txt;
}

h2{
    font-weight: bold;
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
    font-weight: bold; 
}

p{
    font-size: 1.6rem;
}

