@mixin shadow-box($size: $shadow-size) {
  box-shadow: 0 $size $size rgba(0, 0, 0, 0.5);
}

@mixin lighten-btn {
  background: linear-gradient(
    to top left,
    lighten($color-primary, 5%),
    lighten($color-secondary, 5%)
  );
}

@mixin anim-spin($spin-delay-order) {
  animation: spin $spin-dur $spin-delay-order * $spin-delay linear infinite;
}
