$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-white: #fff;
$color-txt: #000;
$color-bg: #f6f6f6;
$color-ico: #7e7e7e;

$color-footer: #353535;

$shadow-size: 0.5rem;
$layout-margin: 2rem;


$anim-check-duration: 0.8s;

$anim-display-delay: 0.4s;

